.section-hero {
  padding: 42px 24px;
  background-color: $primary;
}

.hero {
  display: flex;
  flex-direction: column;

  &__label {
    font-family: $raleway-font;
    font-weight: 700;
    font-size: 0.75rem;
    color: $secondary;
    margin-bottom: 6px;
  }

  &__title {
    font-family: $raleway-font;
    font-weight: 700;
    font-size: 2.3rem;
    color: $secondary;
    line-height: 1.3;
    margin-bottom: 19px;
  }

  &__text {
    font-family: $raleway-font;
    font-weight: 400;
    font-size: 0.75rem;
    color: $secondary;
    line-height: 1.5;
    margin-bottom: 26px;
  }

  &__button {
    width: 132px;
    height: 38px;

    border: 0;
    margin: 0;
    padding: 0;

    background-color: $secondary;
    font-family: $raleway-font;
    font-size: 0.6rem;
    font-weight: 700;
    color: $text;
    border-radius: 6px;
    cursor: pointer;

    margin-bottom: 58px;
  }

  &__img {
    border-radius: 13px;
  }
}
