// Fonts
$raleway-font: "Raleway", sans-serif;
$roboto-font: "Roboto", sans-serif;

// Colors
$primary: #7c4ee4;
$secondary: #ffffff;
$text: #333333;
$background: #e2e2e2;

// Adaptive sizes
$mobile: 375px;
$tablet: 1024px;
$desktop: 1440px;
