<section class="section-hero">
  <div class="hero">
    <p class="hero__label">Featured Post</p>
    <h1 class="hero__title">How AI will Change the Future</h1>
    <p class="hero__text">
      The future of AI will see home robots having enhanced intelligence,
      increased capabilities, and becoming more personal and possibly cute. For
      example, home robots will overcome navigation, direction.
    </p>
    <button class="hero__button" href="#">Read more</button>
    <img
      class="hero__img"
      srcset="./images/hero/hero-327.jpg 327w"
      sizes="
              (max-width: 375px) 327px,
              (min-width: 768px) and (max-width: 1024px) 367px,
              (min-width: 1440px) 516px
            "
      src="./images/hero/hero-327.jpg"
      alt="Illustration of a futuristic AI-powered robot"
    />
  </div>
</section>
